html, body {
    background-color: rgb(75, 75, 75);
    color: whitesmoke;
}

header {
    display: block;
    text-align: right;
    padding-right: 5%;
    border: 2px;
    border-style: solid;
    border-color: whitesmoke;
    padding-block: 20px;
}

table, tr {
    border: solid 2px whitesmoke;
    text-align: center;
}

th, td {
    color: whitesmoke;
    padding: 10px;
}

input {
    background-color: rgb(95, 95, 95);
    color: whitesmoke;
}

.table-titre {
    color: whitesmoke;
    font-weight: bolder;
}

.form {
    margin: 1%;
}

.titre {
    font-weight: bold;
    margin-bottom: -30px;
    margin-left: 15px;
    text-align: left;
    font-size: larger;
}

.button-nav {
    color: white;
    background-color: rgb(32, 151, 178);
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(32, 151, 178);
    border-radius: 100px;
    padding: 5px;
    width: 15%;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    text-decoration: dotted;
    z-index: 0;
    text-align: center;
}
.button-nav::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50% 50% 0 0;
    transition: all .8s;
    z-index: -1;
    text-decoration: dotted;
}
.button-nav:hover::before {
    top: 0;
    border-radius: 0;
    text-decoration: dotted;
}

.button-nav:hover {
    color: white;
    text-decoration: dotted;
    cursor: pointer;
    border-radius: 100px;
    padding: 5px;
}

.button-global {
    color: white;
    background-color: rgb(0, 200, 200);
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(0, 200, 200);
    border-radius: 100px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    text-decoration: dotted;
    z-index: 0;
    text-align: center;
}
.button-global::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0, 234, 255);
    border-radius: 50% 50% 0 0;
    transition: all .8s;
    z-index: -1;
    text-decoration: dotted;
}
.button-global:hover::before {
    top: 0;
    border-radius: 0;
    text-decoration: dotted;
}

.button-global:hover {
    color: white;
    text-decoration: dotted;
    cursor: pointer;
    border-radius: 100px;
    padding: 5px;
}

.button-warning {
    color: white;
    background-color: rgb(255, 150, 0);
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(255, 150, 0);
    border-radius: 100px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    text-decoration: dotted;
    z-index: 0;
    text-align: center;
}
.button-warning::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(255, 200, 0);
    border-radius: 50% 50% 0 0;
    transition: all .8s;
    z-index: -1;
    text-decoration: dotted;
}
.button-warning:hover::before {
    top: 0;
    border-radius: 0;
    text-decoration: dotted;
}

.button-warning:hover {
    color: white;
    text-decoration: dotted;
    cursor: pointer;
    border-radius: 100px;
    padding: 5px;
}

.button-danger {
    color: white;
    background-color: rgb(191, 0, 0);
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(191, 0, 0);
    border-radius: 100px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    text-decoration: dotted;
    z-index: 0;
    text-align: center;
}
.button-danger::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50% 50% 0 0;
    transition: all .8s;
    z-index: -1;
    text-decoration: dotted;
}
.button-danger:hover::before {
    top: 0;
    border-radius: 0;
    text-decoration: dotted;
}

.button-danger:hover {
    color: white;
    text-decoration: dotted;
    cursor: pointer;
    border-radius: 100px;
    padding: 5px;
}